<div class="form">

{%  set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {
    'id':                   'register-form',
    'type':                 'horizontal',
    'enableAjaxValidation': true,
    'clientOptions':        {
        'validateOnChange': true,
    },
}) %}

    <p class="note">Fields with <span class="required">*</span> are required.</p>

	{{ form.errorSummary(model) }}

    {{ form.textFieldRow(model,     'username', {'value': ''}) }}
    {{ form.passwordFieldRow(model, 'password', {'value': ''}) }}
    {{ form.passwordFieldRow(model, 'verify',   {'value': ''}) }}
    {{ form.textFieldRow(model,     'email',    {'value': ''}) }}

    {% if(CCaptcha::checkRequirements()) %}
    <div class="control-group">
        <div id="cap">
            {{ form.labelEx(model,'code') }}
            {{ void(this->widget('CCaptcha', {'id': 'cap-code'})) }}
        </div>
        {{ form.textField(model,'code', {'value': ''}) }}
        {{ form.error(model,'code') }}
        <p class="hint">Please enter the letters as they are shown in the image above.<br />
            Letters are not case-sensitive.</p>
    </div>
    {% endif %}

    {{ void(this.widget('bootstrap.widgets.TbButton', {
        'buttonType': 'submit',
        'type':       'primary',
        'label':      'Submit',
    })) }}

    <div class="hint">
        <p>You are allowed to create only one user. Creating multiple users is considered cheating.
            Anyone found to have multiple users will be banned from the game.</p>
        <p>Creating a user and participating in the Merchants Empires universe for any other purpose
            aside from simply playing the game is not allowed.</p>
    </div>

    {{ void(this.endWidget()) }}

</div>
<!-- form -->
